*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navbar {
  background: #33F0FF;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar_container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

#navbar_logo {
  background-color: #0049FF ;
  background-image: linear-gradient(to top, #0049FF  0%, #2F68F3  100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.fa-gem {
  margin-right: 0.5rem;
}

.navbar_menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar_item {
  height: 80px;
}

.navbar_links {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
}

.navbar_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 30px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 5px;
  background: #0036FF;
  color: #fff;
}

.button:hover {
  background: #0036FF;
  transition: all 0.3s ease;
}

.navbar_links:hover {
  color: #486FFF;
  transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
  .navbar_container {
      display: flex;
      justify-content: space-between;
      height: 80px;
      z-index: 1;
      width: 100%;
      max-width: 1300px;
      padding: 0;
  }

  .navbar_menu {
      display: grid;
      grid-template-columns: auto;
      margin: 0;
      width: 100%;
      position: absolute;
      top: -1000px;
      opacity: 0;
      transition: all 0.5s ease;
      height: 50vh;
      z-index: -1;
      background: #131313;
  }

  .navbar_menu.active {
      background: #131313;
      top: 100%;
      opacity: 1;
      transition: all 0.5 ease;
      z-index: 99;
      height: 70vh;
      font-size: 1.6rem;
  }

  #navbar_logo {
      padding-left: 25px;
  }

  .navbar_toggle .bar {
      width: 25px;
      height: 3px;
      margin: 5px auto;
      transition: all 0.3s ease-in-out;
      background: #fff;
  }

  .navbar_item {
      width: 100%;
  }

  .navbar_links {
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
  }

  #mobile-menu {
      position: absolute;
      top: 20%;
      right: 5%;
      transform: translate(5%, 20%);
  }

  .navbar_btn {
      padding-bottom: 2rem;
  }

  .button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 120px;
      margin: 0;
  }

  .navbar_toggle .bar {
      display: block;
      cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
      opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg); 
  }

  #mobile-menu.is-active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg); 
  }
}

.main {
    background-image: url(../images/Cave.png);
}

.main_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-self: center;
  margin: 0 auto;
  height: 120vh;
  max-height: max-content;
  z-index: 1;
  width: 100%;
  max-width: 1400px;
  padding: 0 50px;
}

.main_content h1 {
  font-size: 4rem;
  background-color: #0049FF;
  background-image: linear-gradient(to top, #0049FF  0%, #2F68F3  100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.main_content h2 {
  font-size: 4rem;
  background-color: #0049FF;
  background-image: linear-gradient(to top, #B722FF 0%, #21D4FD  100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.main_content p {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
}

.main_btn {
  font-size: 1rem;
  background-image: linear-gradient(to top, #0049FF  0%, #2F68F3  100%);
  padding: 14px 32px;
  border: none;
  border-radius: 4px;
  color: #fff;
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  outline: none;
}

.main_btn a {
  position: relative;
  z-index: 2;
  color: #fff;
  text-decoration: none;
}

.main_btn:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #1846B4 ;
  transition: all 0.35s;
  border-radius: 4px;
}

.main_btn:hover {
  color: #fff;   
}

.main_btn:hover:after {
  width: 100%;
}

.main_img--container {
  text-align: center;
}

#main_img {
  height: 80%;
  width: 80%;
}

@media screen and (max-width: 768px) {
  .main_container {
      display: grid;
      grid-template-columns: auto;
      align-items: center;
      justify-self: center;
      width: 100%;
      margin: 0 auto;
      height: 100%;
  }

  .main_content {
      text-align: center;
      margin-bottom: 4rem;
  }

  .main_content h1 {
      font-size: 2.5rem;
      margin-top: 2rem;
  }

  .main_content h2 {
      font-size: 3rem;
  }

  .main_content p {
      margin-top: 1rem;
      font-size: 1.5rem;
  }
}

@media screen and (max-width: 480px) {
  .main_content h1 {
      font-size: 2rem;
      margin-top: 3rem;
  }

  .main_content h2 {
      font-size: 2rem;
  }

  .main_content p {
      margin-top: 2rem;
      font-size: 1.5rem;
  }

  .main_btn {
      padding: 12px 36px;
      margin: 2.5rem 0;
  }
}

.Services {
  background: #141414;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 270vh;
}

.Services h1 {
  background-color: #1650d7;
  background-image: linear-gradient(to right, #1e4295 0%, #1545ca 0%, #1754d6 21%, #1246d6 52%, #0f3ec2 78%, #082b8d 100%);
  background-size: 100%;
  margin-top: 5rem;
  margin-bottom: 5rem;
  font-size: 2.5rem;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.Services_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.Services_card {
  margin: 1rem;
  height: 525px;
  border-radius: 4px;
  background-size: cover;
  background-image: linear-gradient(to top, #2560eb 0%, #203c87 0%, #1f58d2 21%, #1c52e7 52%, #0f3ec2 78%, #082b8d 100%);
  position: relative;
  color: #fff;
}

.Services .Services_card img {
  width: 100%;
}

.Services h2 {
  position: absolute;
  top: 350px;
  left: 30px;
}

.Services_card p {
  position: absolute;
  top: 400px;
  left: 30px;
}

.Services_card button {
  color: #fff;
  padding: 10px 20px;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #21D4FD;
  position: absolute;
  top: 440px;
  left: 30px;
  font-size: 1rem;
  cursor: pointer;
}

.Services_card:hover {
  transform: scale(1.075);
  transition: 0.2s ease-in;
  cursor: pointer;
}

@media screen and (max-width: 960px) {
  .Services {
      height: 6500px;
      width: 100%;
  }

  .Services h1 {
      font-size: 2rem;
      margin-top: 12rem;
  }

  .Services_img {
      max-width: 10%;
  }
}

@media screen and (max-width: 480px) {
  .Services {
      height: 5800px;
  }

  .Services h1 {
      font-size: 1.2rem;
  }

  .Services_card {
      width: 300px;
  }

}

.footer_container {
  background-color: #141414;
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#footer_logo {
  color: #4ff5ff;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.footer_links {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
}

.footer_link--wrapper {
  display: flex;
}

.footer_link--items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 16px;
  text-align: left;
  width: 160px;
  box-sizing: border-box;
}

.footer_link--items h2 {
  margin-bottom: 16px;
}

.footer_link--items > h2 {
  color: #5357fa;
}

.footer_link--items a {
  color: #3ddff7;
  text-decoration: none;
  margin-bottom: 0.5 rem;
}

.footer_link--items a:hover {
  color: #E9E9E9;
  transition: 0.3s ease-out;
}

.social_icon--link {
  color: #40fffb;
  font-size: 24px;
}

.social_media {
  max-width: 1000px;
  width: 100%;
}

.social_media--wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1000px;
  margin: 40px auto 0 auto;
}

.social_icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 240px;
}

.social_logo {
  color: #fff;
  justify-self: flex-start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.website_rights {
  color: #fff;
}

@media screen and (max-width: 820px) {
  .footer_links {
      padding-top: 2rem;
  }

  #footer_logo {
      margin-bottom: 2rem;
  }

  .website_rights {
      margin-bottom: 2rem;
  }

  .footer_link--wrapper {
      flex-direction: column;
  }

  .social_media--wrap {
      flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  .footer_link--items {
      margin: 0;
      padding: 10px;
      width: 100%;
  }
}

.to-top {
  position: fixed;
  width: 50px;
  height: 50px;
  background: #0096FF;
  bottom: 40px;
  right: 50px;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: white;
  font-size: 22px;
}

html {
  scroll-behavior: smooth;
}

.btn-close {
  background-color: transparent;
  border: 0;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  right: 2px;
  top: 2px;
  border-radius: 50%;
  transition: all 0.2s ease-in;
}

.btn-close:hover {
  opacity: 0.7;
  background-color: #0036FF;
}